{{#each posts}}
<div class="post-title"><a name="{{title}}"><h3>{{title}}</h3></a></div>
<div class="game-name"><b><big>{{game.name}}</big></b><div>
<div class="developed-by">Developed by: {{game.developer}}</div>
<div class="platforms">Platforms: {{game.platforms}}</div>
<div class="spoiler-warning">WARNING: You are in the plot analysis zone, meaning that anything worth spoiling CAN and WILL BE spoiled. Check out the "Spoiler Free Zone" for posts written for new players.</div>
<div class="post-content">{{{content}}}</div>
<button type="button" class="btn btn-primary btn-sm sp-modal-trigger admin-console" data-toggle="modal" data-target="#SpoileryModal" value="{{id}}">
  Edit
</button>
<button class="sp-delete-buttons btn btn-primary btn-sm admin-console" id="del-sp{{id}}-g{{game.id}}" value="{{id}}">Delete</button>
<br>
{{/each}}
