{{#each posts}}
<div class="post-title"><a name="{{game.id}}"><h3>{{title}}</h3></a></div>
<div class="game-name"><b><big>{{game.name}}</big></b><div>
<div class="developed-by">Developed by: {{game.developer}}</div>
<div class="platforms">Platforms: {{game.platforms}}</div>
<div class="spoiler-warning">WARNING: You are in the plot analysis zone, meaning that anything worth spoiling CAN and WILL BE spoiled. Check out the "Spoiler Free Zone" for posts written for new players.</div>
<div class="post-content">{{{content}}}</div>
<button class="sp-edit-buttons admin-console" id="edit-sp{{id}}-g{{game.id}}" value="{{id}}">Edit</button>
<button class="sp-delete-buttons admin-console" id="del-sp{{id}}-g{{game.id}}" value="{{id}}">Delete</button>
<br>
{{/each}}
