{{#each posts}}
  <a name="{{game.id}}"><h3>{{title}}</h3></a>
  <b><big>{{game.name}}</big></b></br>
  Developed by: {{game.developer}}</br>
  Platforms: {{game.platforms}}</br>
  {{content}}</br>
  <br>
{{/each}}
